*{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
}

/*Top - left side*/
.left{
width: 20vw; 
background-color: red;   
}

.top{
    background-color: #212121;
    padding: 20px;
}

.logo{
    filter: invert(1);
}

.top ul li{
    list-style: none;
    margin-top: 18px;
}

.top ul li a{
    text-decoration: none;
    margin-left: 10px;
}

.home-logo{
    color: #ffff;
    font-size: 18px;
}
.search-logo{
    color: #b3b3b3;
    font-size: 18px;
}

/*bottom - left side*/
.bottom{
    margin-top:10px;
    background-color: #212121;
}
.box1{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 12px;
    color: #ffff;
}

.box1 div{
    display: flex;
}

.box1 div img{
    margin-right: 10px;
    filter: invert(1);
}

.box2{
    color: #ffff;
}

.b21{
    font-size: 16px;
    margin-top: 15px;

    background-color: #434040;
    padding: 10px;
    border-radius: 8px;
    
}
.b22{
    font-size: 16px;
    margin-top: 15px;

    background-color: #434040;
    padding: 12px;
    border-radius: 8px;
}
.btn1{
    border: 0.5px solid black;
    border-radius: 25px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}

.box2 p{
    font-size: 14px;
    margin-top: 8px;
}

.box3{
    padding: 12px;
}

.box3 div{
    margin-top: 10px;
}

.box3 span{
    margin-right: 15px;
    font-size: 12px;
    color: #b3b3b3;
}
/*Right - left side*/
.right{
    width: 80vw;
    background-color: pink;
}

.nav-bar{
    background-color: blue;
}

footer{
    display: flex;
}
